<ig-single-line-render ng-if=":: (field.FieldType === 1)" field="::field"></ig-single-line-render>
<ig-multi-line-render ng-if=":: (field.FieldType === 2)" field="::field"></ig-multi-line-render>
<ig-date-picker-render ng-if=":: (field.FieldType === 3)" field="::field"></ig-date-picker-render>
<ig-multi-choice-render ng-if=":: (field.FieldType === 4)" field="::field"></ig-multi-choice-render>
<ig-checkbox-render ng-if=":: (field.FieldType === 5)" field="::field"></ig-checkbox-render>
<ig-data-table-render ng-if=":: (field.FieldType === 6)" field="::field"></ig-data-table-render>
<ig-attachment-render ng-if=":: (field.FieldType === 7)" field="::field"></ig-attachment-render>
<ig-label-render ng-if=":: (field.FieldType === 8)" field="::field"></ig-label-render>
<ig-lookup-render ng-if=":: (field.FieldType === 9)" field="::field"></ig-lookup-render>