<span>{{:: field.FieldName }}</span>
<br />
<!-- Checkbox list -->
<ion-checkbox ng-if=":: (field.Properties.MultiType === 1)" ng-repeat="item in ::field.MultiChoiceItems" ng-value=":: item.Value">{{:: item.Text }}</ion-checkbox>

<!-- Radio button list -->
<ion-radio ng-if=":: (field.Properties.MultiType === 2)" ng-repeat="item in ::field.MultiChoiceItems" ng-value=":: item.Value">{{:: item.Text }}</ion-radio>

<!--
        data-ng-attr-size
        is a work around because size can't be set to an expression in angular
        https://github.com/angular/angular.js/issues/1619
      -->
<!-- drop down and list box -->
<select ng-if=":: (field.Properties.MultiType === 3 || field.Properties.MultiType === 4)" data-ng-attr-size="{{:: resolveSize() }}">
    <option ng-repeat="item in ::field.MultiChoiceItems" value="{{:: item.Value }} ">{{:: item.Text }}</option>
</select>
