<span>{{:: field.FieldName }}</span>
<br />
<!-- Checkbox list -->
<div ng-if=":: (field.Properties.MultiType === 1)" ng-repeat="item in ::field.MultiChoiceItems">
    <input id="checkbox_{{:: ($index + '_' + $id) }}" name="checkbox_{{:: field.FieldID }}" type="checkbox" value="{{:: item.Value }}" />
    <label for="checkbox_{{ :: ($index + '_' + $id) }}">{{:: item.Text }}</label>
</div>

<!-- Radio button list -->
<div ng-if=":: (field.Properties.MultiType === 2)" ng-repeat="item in ::field.MultiChoiceItems">
    <input id="radiobutton_{{ :: ($index + '_' + $id) }}" name="radiobutton_{{:: field.FieldID }}" type="radio" value="{{:: item.Value }}" />
    <label for="radiobutton_{{ :: ($index + '_' + $id) }}">{{:: item.Text }}</label>
</div>

<!--
        data-ng-attr-size
        is a work around because size can't be set to an expression in angular
        https://github.com/angular/angular.js/issues/1619
      -->
<!-- drop down and list box -->
<select ng-if=":: (field.Properties.MultiType === 3 || field.Properties.MultiType === 4)" data-ng-attr-size="{{:: resolveSize() }}">
    <option ng-repeat="item in ::field.MultiChoiceItems" value="{{:: item.Value }} ">{{:: item.Text }}</option>
</select>
