<ion-slides options="::FormRender.swiperOptions" slider="FormRender.slider">
    <ion-slide-page ng-repeat="section in ::FormRender.form.Sections track by $index">
        <ig-section-render section="::section"></ig-section-render>
    </ion-slide-page>
</ion-slides>
<!--<div class="ig-pager" ng-style="{ top: FormRender.pagerTop + 'px' }">
    <span ng-repeat="section in ::form.Sections">
        <i class="icon ion-record" ng-class="{'active': $index === FormRender.currentSlideIndex}">
        </i>
    </span>
</div>-->