@import "ionic";

/*
    overides
*/

.ig-slide-box .slider-slides {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}


.ig-pager {
    position: absolute;
    text-align: center;
    background-color: $royal;
    width: 100%;
    height: 20px;
}

.ig-pager i {
    opacity: 0.3;
}

.ig-pager i.active {
    opacity: 1;
}
